<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-mybatis.org//DTD Config 3.0//EN" "http://mybatis.org.dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 驼峰命名规则 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 当字段为null时也返回 -->
		<setting name="callSettersOnNulls" value="true" />
		<!--控制台生成sql日志-->
		<!-- <setting name="logImpl" value="STDOUT_LOGGING" /> -->
	</settings>
    <!--<typeAliases>
        <typeAlias alias="book" type="com.xmxe.entity.Books" />
    </typeAliases>-->

</configuration>