<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>登录</title>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/static/camera/jquery.mobile.customized.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/static/camera/jquery.easing.1.3.js}"></script>
    <script type="text/javascript" th:src="@{/static/camera/camera.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/camera/camera.css}"/>
    <style type="text/css">
        .center {
            position: absolute; /*绝对定位*/
            top: 50%; /*距顶部50%*/
            left: 45%;
            margin: -100px 0 0 -150px;
            /*设定这个div的margin-top的负值为自身的高度的一半,margin-left的值也是自身的宽度的一半的负值.(感觉在绕口令)*/
            text-align: center;
        }

        #title {
            position: absolute; /*绝对定位*/
            top: 30%; /*距顶部50%*/
            left: 40%;
            margin: -100px 0 0 -150px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            if (window != top) {
                top.location.href = location.href;
            }
            var layer;
            layui.use('layer', function () {
                layer = layui.layer;
            });
            //生成验证码
            changeCode();
            //记住密码
            remeberUserAndPwd();

            $("#codeImg").bind("click", changeCode);

            $('#templatemo_banner_slide > div').camera({
                height: 'auto',
                loader: 'bar',
                playPause: false,
                pagination: false,
                thumbnails: false,
                hover: false,
                opacityOnGrid: false,
                imagePath: '/static/image/'
            });
            changebg();

        });
        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#login").trigger("click");
            }
        });

        function remeberUserAndPwd() {
            var username = $.cookie("username");
            var password = $.cookie("password");
            if (username && password) {
                $("#username").val(username);
                $("#password").val(password);
                $("#yyy").attr("checked", true);
            }
            layui.use('form', function () {
                var form = layui.form;
                form.on('switch(switchTest)', function (data) {
                    if (data.elem.checked) {//开关是否开启，true或者false
                        // $.cookie("username",$("#username").val(),{expires : 1});
                        // $.cookie("password",$("#password").val(),{expires : 1});
                    } else {
                        // $.cookie("username",'',{expires : -1});
                        // $.cookie("password",'',{expires : -1});
                    }
                });
            });
        }

        function login() {

            if ($("#username").val() == null || $("#username").val() == "") {
                layer.msg("请输入用户名");
                showfh();
                return;
            }
            if ($("#password").val() == null || $("#password").val() == "") {
                layer.msg("请输入密码");
                showfh();
                return;
            }
            if ($("#code").val() == null || $("#code").val() == "") {
                layer.msg("请输入验证码");
                showfh();
                return;
            }
            //记住密码选中状态
            let rememberPwd = $("#yyy").is(':checked')
            if (rememberPwd) {
                $.cookie("username", $("#username").val(), {expires: 1});
                $.cookie("password", $("#password").val(), {expires: 1});
            } else {
                $.cookie("username", '', {expires: -1});
                $.cookie("password", '', {expires: -1});
            }
            //记住密码选中状态
            let rememberMe = $("#rememberMe").is(':checked')

            let param;
            if (rememberMe) {
                param = {
                    code: $("#code").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                    rememberMe: true
                }
            } else {
                param = {code: $("#code").val(), username: $("#username").val(), password: $("#password").val()}
            }
            window.location.href = "index";
            /*$.ajax({
                url: 'loginCheck',
                data: param,
                dataType: 'json',
                success: function (data) {
                    if (data.message == "success") {
                        window.location.href = "index";
                    } else {
                        layer.msg(data.message);
                        changeCode()
                    }
                },
                error: function (data) {
                    alert(data);
                }
            })*/
        }

        function changeCode() {
            $("#codeImg").attr("src", "code?t=" + genTimestamp());
        }

        function genTimestamp() {
            var time = new Date();
            return time.getTime();
        }

        function changebg() {
            banner_slider_height = $(window).outerHeight();//返回窗口的高度 outerHeight() 方法返回第一个匹配元素的外部高度

            var bheight = document.documentElement.clientHeight;//可见区域高度
            if (bheight == 0) {
                bheight = 1000;
            }
            banner_slider_height = (banner_slider_height < bheight) ? bheight : banner_slider_height;
            $("#templatemo_banner_slide > div").height(banner_slider_height);
            $("#templatemo_banner_slide").height(banner_slider_height);
            $(window).resize(function () {
                banner_slider_height = $(window).outerHeight();
                banner_slider_height = (banner_slider_height < bheight) ? bheight : banner_slider_height;
                $("#templatemo_banner_slide > div").height(banner_slider_height);
                $("#templatemo_banner_slide").height(banner_slider_height);
            });

        }

        var timer;

        function showfh() {
            fhi = 1;
            //关闭提示晃动屏幕，注释掉这句话即可
            timer = setInterval(xzfh2, 10);
        };
        var current = 0;

        function xzfh() {
            current = (current) % 360;
            document.body.style.transform = 'rotate(' + current + 'deg)';
            current++;
            if (current > 360) {
                current = 0;
            }
        };
        var fhi = 1;
        var current2 = 1;

        function xzfh2() {
            if (fhi > 50) {
                document.body.style.transform = 'rotate(0deg)';
                clearInterval(timer);
                return;
            }
            current = (current2) % 360;
            document.body.style.transform = 'rotate(' + current + 'deg)';
            current++;
            if (current2 == 1) {
                current2 = -1;
            } else {
                current2 = 1;
            }
            fhi++;
        };
    </script>
</head>
<body>
<div id="templatemo_banner_slide">
    <div>
        <!-- 背景图片 -->
        <div data-src="static/image/goku.jpg"></div>
        <div data-src="static/image/time.jpg"></div>
        <div data-src="static/image/ace.jpg"></div>
    </div>
</div>
<div id="title">
    <h1 style="font-size: 100px;color:#C5DAF7">SPRINGBOOT</h1>
</div>
<div class="center" id="center">
    <div class="layui-form-item">
        <label class="layui-form-label" style="font-family: '微软雅黑';color:#DCE5D7">用户名:</label>
        <div class="layui-input-inline">
            <input type="text" id="username" lay-verify="required"
                   placeholder="请输入" autocomplete="off" class="layui-input" value="test">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="color: #CCC7F5">密&nbsp;&nbsp;&nbsp;码:</label>
        <div class="layui-input-inline">
            <input type="password" id="password" placeholder="请输入密码" value="test1"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="color:#DCE5D7">验证码:</label>
        <div class="layui-input-inline">
            <input type="text" name="code" id="code" class="layui-input"
                   style="width:100px; height: 25px; float: left" placeholder="请输入验证码"> <i><img
                id="codeImg" alt="点击更换" title="点击更换" width="80px" height="40px"></i>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form" lay-filter="test1">
            <label class="layui-form-label" style="color:#DCE5D7;padding-left: 30px">记住密码:</label>
            <div style="float:left">
                <input type="checkbox" id="yyy" lay-skin="switch" lay-text="ON|OFF" lay-filter="switchTest">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form">
            <label class="layui-form-label" style="color:#DCE5D7;padding-left: 30px">rememberMe:</label>
            <div style="float:left">
                <input type="checkbox" id="rememberMe" lay-skin="switch" lay-text="ON|OFF" lay-filter="switchTest"/>
            </div>
        </div>
    </div>
    <div style="margin-top:60px">
        <button class="layui-btn layui-btn-normal" id="login" onclick="login()">登录</button>
    </div>
</div>
<div th:if="${msg} eq '1'">
</div>
<div th:if="${msg} eq '2'">
</div>
</body>
</html>